<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.2.0" newVersion="4.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
	<appSettings>
		<add key="Host" value="localhost"/>
		<add key="ApiPort" value="8080"/>
		<add key="SignalRPort" value="8081"/>
		<add key="DataBaseServer" value="SQL5110.site4now.net"/>
		<add key="DataBaseName" value="db_a995b0_sadnadbregister1"/>
		<add key="DataBaseUIdAuthentication" value="db_a995b0_sadnadbregister1_admin"/>
		<add key="DataBasePwdAuthentication" value="Sadna123"/>
		<add key="PaymentServiceURL" value="https://php-server-try.000webhostapp.com/"/>
		<add key="SupplierServiceURL" value="https://php-server-try.000webhostapp.com/"/>
		<add key="SystemManagerEmail" value="RotemSela@gmail.com"/>
		<add key="SystemManagerFirstName" value="Rotem"/>
		<add key="SystemManagerLastName" value="Sela"/>
		<add key="SystemManagerPass" value="AS87654askj"/>
		<add key="InitTradingSystem" value="True"/>
		<add key="StartWithCleanDB" value="True"/>
	</appSettings>
	<connectionStrings>
		<add name="MasterConnectionString" connectionString="Server=SQL5110.site4now.net;Database=db_a995b0_sadnadbregister1;Uid=db_a995b0_sadnadbregister1_admin;Pwd=Sadna123"/>
	</connectionStrings>
</configuration>